* {
  max-width: 100%;
}

/* MAIN */
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}
h2 {
  font-size: 2.5em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}
h3 {
  font-size: 2em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}
h4 {
  font-size: 1.5em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}
p {
  font-size: 1em;
  color: #333;
}
li {
  line-height: 1.2em;
}

.container {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-auto-flow: column;
  justify-items: center;
  align-items: space-between;
  overflow: hidden;
}
.header {
  grid-area: 1 / 2 / 2 / 3;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  align-items: center;
}
.leftSide {
  grid-area: 1 / 1 / 4 / 2;
}
.rightSide {
  grid-area: 1 / 3 / 4 / 4;
}
.body {
  grid-area: 2 / 2 / 3 / 3;
  overflow: hidden;
}
.footer {
  grid-area: 3 / 2 / 4 / 3;
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

.results {
  line-height: 0.75em;
  color: #333;
}
.setup {
  line-height: 0.75em;
  color: #333;
}
.generatorHolder {
  line-height: 1.5em;
}
.generator > ul {
  list-style: none;
}
.generator > ul > li {
  /* In case of necessity */
}
/* ADOBE ACCESSIBLE MEGA MENU */
/* mega menu list */
.nav-menu {
  display: flex;
  min-height: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 15;
}

/* a top level navigation item in the mega menu */
.nav-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;

  padding: 0;
  margin: 0;
}

/* first descendant link within a top level navigation item */
.nav-item > a {
  position: relative;
  display: flex;
  padding: 0.5em 1em;
  margin: 0 0 -1px 0;
  border: 1px solid transparent;
}

/* focus/open states of first descendant link within a top level 
           navigation item */
.nav-item > a:focus,
.nav-item > a.open {
  border: 1px solid #d5d5d5;
  /*z-index: 20;*/
}

/* open state of first descendant link within a top level 
           navigation item */
.nav-item > a.open {
  /* background-color: #fff; */
  border-bottom: none;
  /*z-index: 21;*/
}

/* sub-navigation panel */
.sub-nav {
  position: absolute;
  display: none;
  top: 2.6em;
  margin-top: -1px;
  padding: 0.5em 1em;
  border: 1px solid #d5d5d5;
  background-color: #fff;
}

/* sub-navigation panel open state */
.sub-nav.open {
  display: flex;
  flex-direction: column;
}

/* list of items within sub-navigation panel */
.sub-nav ul {
  display: inline-block;
  flex-direction: column;
  vertical-align: top;
  margin: 0 1em 0 0;
  padding: 0;
}

/* list item within sub-navigation panel */
.sub-nav li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* MEDIA QUERIES */

@media (max-width: 767px) {
  h1 {
    font-size: 2em;
    font-family: "Helvetica", "Arial", "Sans-Serif";
  }
  h2 {
    font-size: 1.75em;
    font-family: "Helvetica", "Arial", "Sans-Serif";
  }
  h3 {
    font-size: 1.5em;
    font-family: "Helvetica", "Arial", "Sans-Serif";
  }
  h4 {
    font-size: 1.25em;
    font-family: "Helvetica", "Arial", "Sans-Serif";
  }
  p {
    font-size: 1em;
    color: #333;
  }
  .nav-menu {
    flex-direction: column;
  }
  .sub-nav.open {
    display: flex;
    flex-direction: column;
    position: static;
  }
  .container {
    display: grid;
    min-height: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-auto-flow: column;
    justify-items: center;
    align-items: space-between;
    overflow: hidden;
  }
  .header {
    grid-area: 1 / 2 / 2 / 3;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    align-items: center;
  }
  .leftSide {
    grid-area: 1 / 1 / 4 / 2;
  }
  .rightSide {
    grid-area: 1 / 3 / 4 / 4;
  }
  .body {
    grid-area: 2 / 2 / 3 / 3;
    overflow: hidden;
  }
  .footer {
    grid-area: 3 / 2 / 4 / 3;
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
  }
}

/* DROPDOWN MENU OLD */

nav ul,
footer ul,
.dropdown ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li,
footer ul li,
.dropdown ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropButton {
  background-color: #ffffff;
  color: #999;
  text-decoration: none;
  font-size: 16px;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.dropContent {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropContent a {
  margin-left: 8px;
  margin-top: 8px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropContent a:hover {
  text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropContent {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropButton {
  text-decoration: underline;
}
